<footer class="site-footer">


    <div class="wrapper">

        <p class="description">
            {% if site.description_footer %} {{site.description_footer}} {% endif %}
        </p>
        <p class="contact">
            {% if site.github_username %}
            <a href="https://github.com/{{site.github_username}}" title="GitHub" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a> {% endif %} {% if site.email %}
            <a href="mailto:{{site.email}}" title="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> {% endif %} 
        </p>
        <p>
                <!-- 站长统计 -->
<script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1279366278'%3E%3C/span%3E%3Cscript src='https://s4.cnzz.com/z_stat.php%3Fid%3D1279366278%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
        </p>
    </div>

</footer>
