{% capture qualities %}
  {% if post %}
    {% for quality in post.qualities %}
        <a href="{{ root_url }}/{{ site.quality_dir }}#{{ quality }}" title="quality: {{ quality }}" rel="quality">{{ quality | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% else %}
    {% for quality in page.qualities %}
        <a href="{{ root_url }}/{{ site.quality_dir }}#{{ quality }}" title="quality: {{ quality }}" rel="quality">{{ quality | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% endif %}
{% endcapture %}
{% capture quality_size %}{{ qualities | strip_newlines | replace: ' ', '' | size }}{% endcapture %}
{% unless quality_size == '0' %}
<!-- <span class="point">•</span> -->
<span class="qualities">
  <i class="fa"></i>{{ qualities }}
  <!-- <span class="point">•</span> -->
</span>
{% endunless %}

qualities