.page[index] {
    a {
        color: #045bb2;
        transition: 0.5s ease;
        &:hover {
            color: #223253;
        }
    }
    .left {
        >ul {
            padding: 0;
            >li {
                list-style: none;
            }
            li {
                color: #333;
                h2 {
                    border: none;
                    font-size: 20px;
                    margin: 0;
                    font-weight:normal;
                    a {
                        &:hover {
                            color:#045bb2;
                            text-decoration:underline;
                        }
                    }
                }
                .label {
                    margin-bottom: 15px;
                    overflow: hidden;
                    .label-card {
                        float: left;
                        margin-right: 15px;
                        i {
                            padding-right: 0;
                            margin-right: 3px;
                            color: #6b6a6a;
                            font-size: 10px;
                        }
                    }
                    .categories {
                        padding: 12px 15px;
                    }
                }
                .excerpt {
                    h2 {
                        font-size: 20px;
                    }
                    h3 {
                        font-size: 22px;
                    }
                    h4 {
                        font-size: 20px;
                    }
                }
                .read-all {
                    text-align: right;
                    font-size: 12px;
                    a {
                        color: #778ab0;
                        transition: 0.2s ease;
                        &:hover {
                            color: #5872a7;
                        }
                        i {
                            padding-right: 3px;
                        }
                    }
                }
            }
        }
        .pagination {
            text-align: center;
            .previous,
            .next {
                font-size: 20px;
                padding: 0 5px;
            }
            .page_number {
                font-size: 16px;
                padding: 0 5px;
            }
            .disable {
                color: #cbcbcb;
            }
        }
    }
    .right {
        .wrap {
            .side {
                margin-bottom: 20px;
                padding-bottom: 0;
                i {
                    margin-right: 5px;
                }
                .content-ul[cate] {
                    overflow: hidden;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        font-size: 16px;
                        a {
                            display: block;
                            width: 100%;
                            color:black;
                            border-bottom: 1px dashed #eee;
                            &:hover {
                                background-color: white;
                                .badge {
                                    background-color: #eee;
                                    transform: scale(1) rotate(360deg);
                                }
                            }
                            .name {
                                padding-left: 15px;
                            }
                            .badge {
                                display: block;

                                // width: 20px;
                                float: right;
                                text-align: center;
                                margin-right: 15px;
                                margin-top: 3px;
                                padding: 0 10px;
                                font-size: 12px;
                                color: black;
                                background-color: #00FFFF;
                                border-radius: 2px;
                                transition: 0.5s ease-in-out;
                            }
                        }
                        &:last-of-type a {
                            border: none;
                        }
                    }
                }
                .content-ul[recent]{
                    padding-bottom: 12px;
                    li{
                        color:#aaa;
                        font-size: 14px;
                        a {
                            &:hover {
                                color:#045bb2;
                                text-decoration:underline;
                            }
                        }

                    }
                }
                .tags-cloud {
                    font-weight: normal;
                    a {
                        padding: 0 3px;
                        border-radius: 5px;
                        &:hover {
                            color:#045bb2;
                            background-color:#eef4fa;
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 770px) {
    .page[index] {
        .left>ul li {
            h2 {
                font-size: 20px;
            }
            .excerpt {
                h2 {
                    font-size: 20px;
                }
                h3 {
                    font-size: 18px;
                }
                h4 {
                    font-size: 16px;
                }
                li{
                    margin: 0;
                }
            }
        }
    }
}
