.clearfix:after {
    content: "\200B";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.page {
    width: 1140px;
    box-sizing: border-box;
    margin: 0 auto;
    // word-break: break-all;
    .left {
        width: 75%;
        float: left;
        padding: 20px 30px;
        line-height: 1.6;
        font-size: 14px;
        font-weight:normal;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 3px rgba(2,2,0,0.1) inset;
        >h1 {
            margin-bottom: -10px;
        }
        a:not([title]){
            word-break: break-all;
        }
        ul {
            background-color: white;
            >h2 {
                margin-left: -40px;
                color: #6a6b6b;
            }
            li {
                line-height: 1.8;
                color: #888888;
                time {
                    display: inline-block;
                    width: 135px;
                }
                .title {
                    font-weight: bold;
                    color: #223253;
                    transition: 0.3s ease;
                    &:hover {
                        color: #045bb2;
                    }
                }
                a {
                        &:hover {
                            color:#045bb2;
                            text-decoration:underline;
                        }
                    }
                i {
                    margin-right: 5px;
                }
                .categories {
                    padding: 0 15px;
                    i {
                        color: black;
                    }
                    a {
                        padding: 0 5px;
                        background-color: #eef4fa;
                        color: #3e7ac2;
                        font-size: 90%;
                        transition: 0.3s ease;
                        &:hover {
                            text-decoration:underline;
                        }
                    }
                }
                .pageTag {
                    i {
                        color: #666;
                    }
                    a {

                        // border: 1px solid #aaa;
                        padding: 2px 5px;
                        background-color: #eef4fa;
                        border-radius: 3px;
                        color: #3e7ac2;
                        font-size: 80%;
                        transition: 0.1s ease;
                        &:hover {
                            text-decoration:underline;
                        }
                    }
                }
            }
        }
    }
    .anchor {
        display: none;
    }
    .right {
        float: left;
        width: 25%;
        padding-left: 20px;
        top: 0;
        .fixed {
            position: fixed;
            top: 20px;
        }
        .scroll-bottom {
            position: absolute;
            bottom: 190px;
        }
        .side {
            box-sizing: border-box;
            background-color: white;
            box-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 3px rgba(2,2,0,0.1) inset;
            padding-bottom: 1px;
            -ms-word-break: break-all;
            word-break: break-all;
            /* Non standard for webkit */
            word-break: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            >div {
                padding: 10px 10px;

                // margin-right: -10px;
                border-bottom: 1px solid #eee;
                
                font-size: 15px;
                font-weight: normal;
            }
            a {
                color: black;
                font-size: 13px;
                transition: 0.5s ease;
                &:hover {
                    color: #223253;
                }
            }
            i {
                 margin-right: 5px;
            }

        }
        .content-ul {
            overflow: scroll;
            overflow-y: auto;
            overflow-x: auto;
            line-height: 1.8;
            padding-right: 10px;
            padding-left: 35px;
            ul {
                padding-left: 20px;
            }
            li {
                color:#aaa;
                font-size: 14px;
                a {
                    display: block;
                    width: 100%;
                    padding: 2px 0;
                    color:black;
                    border-bottom: 1px dashed #eee;
                    &:hover {
                        color:#045bb2;
                        text-decoration:underline;
                    }
                }
                &:last-of-type a {
                    border: none;
                }
            }
        }

    }
}
@media screen and (max-width:1200px) and (min-width: 770px) {
    .page {
        width: 90%;
    }
}
@media screen and (max-width: 770px) {
    .page {
        width: 95%;
        .left {
            width: 100%;
            float: left;
            padding: 10px 14px;
            font-size: 14px;
            >h1 {
                font-size: 25px;
                margin-bottom: -10px;
            }
            ul {
                padding-left: 20px;
                >h2 {
                    font-size: 20px;

                    // margin: 0;
                    margin-left: -20px;
                }
                li {
                    margin: 20px 0;
                    time {
                        display: block;
                        width: auto;
                    }
                    .title {
                        display: block;
                        font-size: 16px;
                    }
                    .categories {
                        font-size: 10px;
                        background-color: #eee;
                        padding-left: 0;
                        padding-right: 10px;
                        border-radius: 1px;
                    }
                }
            }
        }
        .anchor {
            display: block;
            visibility: visible;
            position: fixed;
            top: 76px;
            right: 2.5%;
            padding: 5px 10px;
            color: #333;
            font-size: 15px;
            background-color: white;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3), 0 0 30px rgba(10, 10, 0, 0.1) inset;
            opacity: 0.7;
            transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .anchor-hide {
            opacity: 0;
            visibility: hidden;
        }
        .right {
            visibility: hidden;

            // display: none;
            position: fixed;

            // z-index: 190;
            float: none;
            width: auto;
            max-width: 95%;
            padding: 0;
            top: 76px;
            right: 2.5%;
            opacity: 0;
            transform-origin: 100% 0;
            transform: scale(0.1);
            transition: 0.2s cubic-bezier(0.5, 0.1, 0.51, 1.38);
        }
        .right-show {
            z-index: 999;
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            .content-ul{
              margin-bottom: 0;
              >li:last-of-type{
                margin-bottom: 16px;
              }
            }
        }
    }
}
